<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="InputFilePath" value="C:\Users\ankit_000\Desktop\smart.log"/>
    <add key ="OutputFilePath" value="C:\Users\ankit_000\Desktop\SmartOut.txt"/>
  </appSettings>
</configuration>